@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*
	font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*
    font-family: 'Roboto Slab', serif;
*/

body{
    height: 2000px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide vertical scrollbar */
    background-color: rgb(228, 228, 228);
}

.background-video{
  width: 400px;
  height: 400px;
}

.box1{
  position: absolute;
  width: 100%;
  height: 350px;
  background-color: rgb(218, 75, 94);
  top: 0;
}

.LUNA{
  position: absolute;
  line-height: 0;
  left: 5%;
  padding-top: 45px;
  font-size: 60px;
  color: white;
}

.header1{
  position: absolute;
  width: 100%;
  left: 5%;
  top: 32%;
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

.p1{
  position: absolute;
  width: 100%;
  left: 5.5%;
  top: 47%;
  font-size: 20px;
  width: 60%;
  color: white;
  font-weight: 100px;
}

.randombox1{
  position: absolute;
  top: 27%;
  right: 10%;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: rgb(0, 255, 13);
  background-image:url('../map-image/india.jpg');
  background-position: center;
  box-shadow: 0 2px 30px 1px rgba(0, 0, 0, 0);
  background-size:100% 100%;
}

.randombox2{
  position: absolute;
  top: 26.5%;
  right: 10%;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: rgb(17, 0, 255);
  box-shadow: 0 2px 30px 1px rgba(0, 0, 0, 0);
  transform: rotate(355deg);
  background-image:url('../map-image/india.jpg');
  background-position: center;
  background-size:100% 100%;
}

.randombox3{
  position: absolute;
  top: 27.5%;
  right: 10%;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: cyan;
  box-shadow: 0 2px 30px 1px rgba(0, 0, 0, 0.568);
  transform: rotate(10deg);
  background-image:url('../map-image/india.jpg');
  background-position: center;
  background-size:100% 100%;
}

.txt-rotate{
  border-right: 4px solid white;
  animation: txt-rotate-line 1s linear infinite;
}

@keyframes txt-rotate-line {  
  50%{
  border-right: 4px solid transparent;
  }
}

/*genrater*//*genrater*//*genrater*//*genrater*//*genrater*/

.genrater-page{
position: absolute;
width: 100%;
top: 350px;
}

.genrater-page h1{
  position: absolute;
  top: 0px;
  left: 2.6%;
  font-weight: bolder;
}

.genrater-card{
  position: absolute;
  top: 80px;
  left: 7.4%;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  /*background-color: rgb(0, 255, 13);*/
  background-image:url('../map-image/india.jpg');
  background-position: center;
  box-shadow: 0 2px 30px 1px rgba(0, 0, 0, 0);
  background-size:100% 100%;
}

.GENERATE-but h1{
  position: absolute;
  top: 410px;
  left: 7.4%;
  padding: 5px 50px;
  background-color: rgb(218, 75, 94);
  color: white;
  text-align: center;
  border-radius: 20px;
  transition: 0.2s;
}

.GENERATE-but h1:hover{
background-color: rgba(218, 75, 94, 0.747);
color: white;
box-shadow: 0 0 5px rgb(218, 75, 94),0 0 15px rgb(218, 75, 94);
text-shadow: 0 0 5px rgba(255, 255, 255, 0.329);
transition: 0.2s;
}

.list-GENDER h1{
  position:absolute;
  top: 500px;
  left: 5.5%;
  line-height: 0;
  font-size: 40px;
  }

.list-RARITY h1{
  position:absolute;
  top: 500px;
  left: 16.4%;
  line-height: 0;
  
  font-size: 40px;
  letter-spacing: 3px;
}

.GENDER-rotater{
  position:absolute;
  top: 570px;
  left: 5.5%;
  line-height: 0;
  font-size: 30px;
}

/*list-box*//*list-box*//*list-box*//*list-box*//*list-box*//*list-box*//*list-box*//*list-box*/

.list-of-name{
  position: absolute;
  top: 100px;
  left: 25%;
  height: 1000px;
  width: 75%;
}

.list-of-name p{
font-size: 24px;
line-height: 0;
margin-left: 40px;
margin-bottom:80px ;
}

.list-of-namebox:hover,.list-of-namebox2:hover,.list-of-namebox3:hover,.list-of-namebox4:hover,.list-of-namebox5:hover{
  box-shadow:  0px 10px 20px 0px   rgba(0, 0, 0, 0.452),0px 10px 50px 0px   rgba(0, 0, 0, 0.329);
  background-color: white;

}

.list-of-namebox{
  position: relative;
  left:50%;
  top:10%;
	transform: translate(-50%, -50%);
  width: 1100px;
  height: 100px;
transition: 0.4s;
box-shadow:  0px 10px 30px 0px   rgba(0, 0, 0, 0.432);
border-radius:20px;
background-color: rgb(245, 245, 245);
}

.list-of-namebox h1{
  margin: 30px -5px;
  margin-bottom:0 ;
  line-height: 0;
}

.list-of-namebox p{
  position: absolute;
  margin: 70px 24px;
  margin-bottom:0 ;
  font-size: 20px;
}

.list-of-namebox2{
  position: relative;
  left:50%;
  top:10%;
	transform: translate(-50%, -50%);
  width: 1100px;
  height: 100px;
  transition: 0.4s;
  background-color: rgb(245, 245, 245);
  border-radius:20px;
}

.list-of-namebox h1{
  margin: 30px -5px;
  margin-bottom:0 ;
  line-height: 0;
}

.list-of-namebox p{
  position: absolute;
  margin: 70px 24px;
  margin-bottom:0 ;
  font-size: 20px;
}

.list-of-namebox2{
  
  position: relative;
  left:50%;
  top:10%;
  margin-top: 20px;
	transform: translate(-50%, -50%);
  width: 1100px;
  height: 100px;
transition: 0.4s;
box-shadow:  0px 10px 30px 0px   rgba(0, 0, 0, 0.219);
border-radius:20px;
}

.list-of-namebox2 h1{
  margin: 30px -5px;
  margin-bottom:0 ;
  line-height: 0;
}

.list-of-namebox2 p{
  position: absolute;
  margin: 70px 24px;
  margin-bottom:0 ;
  font-size: 20px;
}

.list-of-namebox3{
  
  position: relative;
  left:50%;
  top:10%;
  margin-top: 20px;
	transform: translate(-50%, -50%);
  width: 1100px;
  height: 100px;
transition: 0.4s;
box-shadow:  0px 10px 30px 0px   rgba(0, 0, 0, 0.219);
border-radius:20px;
}

.list-of-namebox3 h1{
  margin: 30px -5px;
  margin-bottom:0 ;
  line-height: 0;
}

.list-of-namebox3 p{
  position: absolute;
  margin: 70px 24px;
  margin-bottom:0 ;
  font-size: 20px;
}

.list-of-namebox4{
  
  position: relative;
  left:50%;
  top:10%;
  margin-top: 20px;
	transform: translate(-50%, -50%);
  width: 1100px;
  height: 100px;
transition: 0.4s;
box-shadow:  0px 10px 30px 0px   rgba(0, 0, 0, 0.219);
border-radius:20px;
}

.list-of-namebox4 h1{
  margin: 30px -5px;
  margin-bottom:0 ;
  line-height: 0;
}

.list-of-namebox4 p{
  position: absolute;
  margin: 70px 24px;
  margin-bottom:0 ;
  font-size: 20px;
}

.list-of-namebox5{
  
  position: relative;
  left:50%;
  top:10%;
  margin-top: 20px;
	transform: translate(-50%, -50%);
  width: 1100px;
  height: 100px;
transition: 0.4s;
box-shadow:  0px 10px 30px 0px   rgba(0, 0, 0, 0.219);
border-radius:20px;
}

.list-of-namebox5 h1{
  margin: 30px -5px;
  margin-bottom:0 ;
  line-height: 0;
}

.list-of-namebox5 p{
  position: absolute;
  margin: 70px 24px;
  margin-bottom:0 ;
  font-size: 20px;
}

